{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block css %}index{% endblock %}

{% block content %}
<section class="hero">
  <div class="hero-body">
    <h1 class="title">BlueFlix 3.0</h1>
    <p class="subtitle">A simple service for watching/listening to festival live sets</p>
  </div>
</section>

<main class="container">
  <div class="columns">
    <div class="column is-three-quarters">
      {% for set in data.livesets_cards %}
      <div class="card">
        <div class="card-image">
          <figure class="image">
            <img src="banners/{{set.banner}}" alt="{{set.name}}">
          </figure>
        </div>
        <div class="card-content">
          <div class="content">
            <p class="title is-5">{{set.name}}</p>
            <a href="/sets/{{set.link}}">Watch it here!</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="column">
      <div class="panel">
        <p class="panel-heading">Stream Status</p>
        {% for stream in data.streams %}
        <a class="panel-block is-active stream-link" href="/watch/{{stream.link}}">
          <span class="stream-name">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-cast" width="32" height="32"
              viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <line x1="3" y1="19" x2="3.01" y2="19" />
              <path d="M7 19a4 4 0 0 0 -4 -4" />
              <path d="M11 19a8 8 0 0 0 -8 -8" />
              <path d="M15 19h3a3 3 0 0 0 3 -3v-8a3 3 0 0 0 -3 -3h-12a3 3 0 0 0 -2.8 2" />
            </svg>
            {{ stream.name }} Stream
          </span>
          {% if stream.online %}
          <span class="stream-status-online">Online</span>
          {% else %}
          <span class="stream-status-offline">Offline</span>
          {% endif %}
        </a>
        {% endfor %}
      </div>
      <div>
        <a href="https://discord.gg/{{data.discord.serverid}}">Join our Discord server!</a>
        <iframe src="https://discordapp.com/widget?id={{data.discord.widget}}&amp;theme=dark" allowtransparency="true"
          height="500" frameborder="0"></iframe>
      </div>
    </div>
  </div>
</main>

{% endblock %}