{% extends "base.html" %}
{% block title %}{{ video.name }}{% endblock %}
{% block css %}player{% endblock %}

{% block content %}
<script type="text/javascript" src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/plyr@3"></script>
<link rel="stylesheet" href="https://unpkg.com/plyr@3/dist/plyr.css">

<script>
// Change the second argument to your options:
// https://github.com/sampotts/plyr/#options
const player = new Plyr('video');

// Expose player so it can be used from the console
window.player = player;
</script>

<style>
.videoplayer {
	margin: 50px auto;
	max-width: 1440px;
}
</style>
<main id="main">

  <p class="title is-3">{{video.name}}</p>
  
  <div class="videoplayer">
	<video  id="video" controls crossorigin playsinline  poster="{{video.poster}}">
		 <source src="{{data.cdnurl}}/{{video.url}}.{{video.videotype}}" type="video/mp4">
	</video>
</div>
</main>
{% endblock %}
