{% extends "base.html" %}
{% block title %}{{ stream.name }}{% endblock %}
{% block css %}player{% endblock %}

{% block head %}
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/clappr@latest/dist/clappr.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/clappr/clappr-level-selector-plugin@latest/dist/level-selector.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/clappr-playback-rate-plugin@latest/lib/clappr-playback-rate-plugin.min.js"></script>
   <script>var player = new Clappr.Player({
   source: "{{data.cdnurl}}/{{stream.videourl}}.{{stream.filetype}}",
   parentId: "#player-wrapper",
   plugins: [LevelSelector, PlaybackRatePlugin],
   width: '90%',
   height: '90%',
   preload: "auto",
   poster: '{{stream.poster}}',
   levelSelectorConfig: {
     title: 'Quality',
     labels: {
       0: '360', // 500kbps
       1: '480P', // 1000kbps
       2: '720P', // 4000kbps
       3: '1080P', // 6000kbps
     },
     playbackRateConfig: {
       defaultValue: 1,
       options: [{
           value: 0.5,
           label: '0.5x'
         },
         {
           value: 1,
           label: '1x'
         },
         {
           value: 2,
           label: '2x'
         },
       ],
       // rateSuffix: 'x',
     },
   },
 });
</script>
{% endblock %}

{% block content %}
<main class="player" id="main">
    <p class="title is-3">{{stream.name}}</p>
	<center>
      <div id="player-wrapper"></div>
  </center>
	
	<br>
    <audio controls class="player">
        <source src="{{data.audiourl}}/{{ stream.videourl.split('/')[-1] }}" />
    </audio>
    
    <script>
        setInterval(() => { // Ping watcher endpoint every 10 seconds
            const url = "{{ data.statsurl }}/watcher";
            const params = '{ "stream": "{{ stream.link }}" }';
            const xhr = new XMLHttpRequest();
            xhr.open("POST", url, true);
            xhr.setRequestHeader("Content-type", "application/json");
            xhr.send(params);
        }, 10000);
    </script>
</main>

{% endblock %}
